.add-comic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(40px, 2vw, 80px);
  margin-top: clamp(10px, 2vw, 20px);
}
.add-comic form {
  background-color: #1f00375f;
  padding: clamp(20px, 2vw, 40px) clamp(20px, 2vw, 80px);
  padding-bottom: 60px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  border-radius: 10px;
  border: 2px solid #2b004b;
  box-sizing: border-box;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form h3 {
  font-family: "Verdana";
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

form p {
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.6);
}

.add-picture {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px #440077;
  border-style: dashed;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 20px;
}

.picture {
  background-color: #2a004b99;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #440077;
}

.add-picture-info h4,
.add-comic label {
  margin: 0;
  font-family: "Verdana";
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.add-comic label {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

.add-picture-info p {
  margin: 0;
}

.add-picture input,
.add-comic-details input[type="text"],
.add-comic-details input[type="number"] {
  margin: 7px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #440077;
  padding: 5px;
  font-size: 1rem;
  font-family: "Poppins";
  color: white;
  caret-color: white;
}

.add-picture input,
.add-comic-details input[type="text"] {
  width: 100%;
}

textarea {
  margin: 7px 0;
  background-color: transparent;
  border: 2px solid #440077;
  padding: 5px;
  font-size: 1rem;
  font-family: "Poppins";
  color: white;
  caret-color: white;
  height: 30vh;
  resize: none;
}

.add-comic-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-comic-details div {
  display: flex;
  flex-direction: column;
}
.add-comic-details .details-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  div {
    flex: 1;
  }
}

.add-comic-details .choices {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  p {
    margin: 0;
    width: fit-content;
    line-height: 2rem;
  }
  input {
    margin: 0;
    width: fit-content;
  }
}

.add-comic-details .more-details {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  div {
    flex: 1;
  }
}

.add-comic-details input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  border: 2px solid #440077;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 2rem;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: 0.3s ease;
}

.add-comic-details p {
  transition: 0.3s ease;
}

.add-comic-details input[type="radio"]:checked {
  background-color: #440077;
}

.add-comic-details input[type="radio"]:hover {
  border-color: #6200ae;
}

.choices input[type="radio"]:checked + p {
  z-index: 100;
  color: white;
}

.add-comic-details .button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  column-gap: 15px;

  label {
    margin: 0;
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 2rem;
  }
}

.add-comic-details .choices-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 25px;
}

.add-comic-details input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  border: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 2rem;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: 0.3s ease;
}

.add-comic-details label {
  transition: 0.3s ease;
}

.add-comic-details input[type="checkbox"]:hover {
  border-color: white;
}

.choices-button input[type="checkbox"]:checked {
  border-color: white;
  color: white;
}

.choices-button input[type="checkbox"]:checked + label {
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.add-comic button {
  margin: 0 auto;
  margin-top: 40px;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #440077;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-comic button:hover {
  border-color: #6200ae;
  background-color: #1f0037ba;
}

@media (max-width: 768px) {
  .add-comic form {
    width: 90%;
  }
}
