.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 100px;
  height: 80vh;
}

.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: white;

  h3 {
    font-family: "Verdana";
    font-size: 2rem;
  }
}

form {
  padding: 20px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.input-auth {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
}

.input-auth::before {
  position: absolute;
  content: attr(data-label);
  color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  left: 0;
  transform: translateY(-20%);
  z-index: 50;
  font-family: "Verdana";
  font-size: 1em;
  pointer-events: none;
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-auth::after {
  position: absolute;
  pointer-events: none;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-size: 200% 100%;
  background-color: #9000ff;
}

input {
  border: none;
  outline: none;
  caret-color: #9000ff;
  height: 1rem;
  background-color: transparent;
  color: white;
  font-family: "Verdana";
  padding: 10px 0;
}

.input-auth:has(input:focus)::before {
  color: #9000ff;
  transform: translateY(-190%);
  font-size: 0.8em;
}

.has-text::before {
  transform: translateY(-190%);
  font-size: 0.8em;
}

.input-auth:has(input:focus)::after {
  background-image: linear-gradient(
    to right,
    #00ffff,
    #ff00ff,
    #ffff00,
    #00ffff
  );
  background-size: 300% 100%;
  animation: gradient-move 10s linear infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -300% 50%;
  }
}

label {
  display: none;
}

form button {
  background-color: transparent;
  border: 2px solid #9000ff;
  color: #9000ff;
  font-size: 1rem;
  font-family: "Poppins";
  padding: 5px 30px;
  cursor: pointer;
  margin-top: 30px;
  transition: box-shadow 0.4s ease;
}

form button:hover {
  box-shadow:
    0 0 20px #9000ffcc,
    inset 0 0 10px #9000ffcc;
}

.slider {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 5;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 100;
  border-radius: 10px 10px 10px 25%;
  transition: 1s ease-in-out;
}

.slider div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px;
  transition: transform 1s ease-in-out;
  flex-shrink: 0;
  box-sizing: border-box;
}

.slider div h2 {
  font-family: "Poppins";
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
  margin: 0;
  color: black;
  background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
  text-shadow: 3px -3px 0 black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider div p {
  font-family: "Poppins";
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.slider div button {
  font-family: "Poppins";
  font-family: 1em;
  font-weight: 500;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #9000ff;
  color: #9000ff;
  position: relative;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  background-size: 200% 100%;
  transition: 0.4s ease-out;
}

.slider .sign-up-panel button {
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    #9000ff 50%,
    #9000ff 100%
  );
  background-position: left;
}

.slider .sign-in-panel button {
  background-image: linear-gradient(
    90deg,
    #9000ff 50%,
    transparent 50%,
    transparent 100%
  );
  background-position: right;
}

.slider .sign-up-panel button:hover {
  background-position: right;
  border: #9000ff 2px solid;
  color: white;
}

.slider .sign-in-panel button:hover {
  background-position: left;
  border: #9000ff 2px solid;
  color: white;
}

.change-panel {
  transform: translateX(-100%);
  border-radius: 10px 25% 10px 10px;
}

.move-right {
  transform: translateX(100%);
}

.move-left {
  transform: translateX(-100%);
}
