.browse {
  color: white;
}

.browse input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  border: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 2rem;
  transform: translateX(-50%);
  border-radius: 10px;
  transition: 0.3s ease;
}

.choices-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 25px;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  label {
    margin: 0;
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 2rem;
  }
}

.button-group label {
  transition: 0.3s ease;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.button-group input[type="checkbox"]:hover {
  border-color: white;
}

.button-group input[type="checkbox"]:checked {
  border-color: #440077;
  background-color: #440077;
  color: white;
  cursor: pointer;
}

.button-group input[type="checkbox"]:checked + label {
  color: white;
  z-index: 800;
}
