.comic-details {
  color: white;
  width: 80%;
  margin: 40px auto;
}

.header {
  margin-bottom: 20px;
  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.comic-details-container {
  display: flex;
  gap: 20px;
}

.comic-photo {
  width: 30%;
  aspect-ratio: 6/9;
  background-color: #1f00375f;
  border: 2px solid #2b004b;
  border-radius: 5px;
  position: relative;
  font-family: "Poppins";
}

.comic-info {
  width: 100%;
}

.info-header-upper {
  font-size: 1rem;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  gap: 10px;
  div {
    background-color: #2b004b;
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px;
    font-size: 0.8rem;
  }
}

.info-header-title {
  font-family: "Verdana";
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  h3 {
    margin: 0;
  }
}

.more-details {
  display: flex;
  gap: 20px;
  font-size: 1rem;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.6);
  p {
    margin-bottom: 0;
  }
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags {
  color: white;
  border: white 2px solid;
  border-radius: 15px;
  font-size: 0.8rem;
  font-family: "Verdana";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 15px;
}

.reading-list-info {
  margin-top: 20px;
  div {
    display: flex;
    gap: 10px;
  }
  select {
    width: 20%;
    font-size: 1rem;
    font-family: "Poppins";
    color: #2b004b;
    padding: 5px 10px;
    border: 2px solid #2b004b;
    border-radius: 10px;
    cursor: pointer;
  }
}

.add-reading-list,
.remove {
  background-color: white;
  color: #2b004b;
  border: 2px solid #2b004b;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Poppins";
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-reading-list:hover,
.remove:hover {
  transform: translateY(-10%);
  background-color: #2b004b;
  color: white;
}
