@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}

body {
  background-color: #000000;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    /* border:  */
  }
}

.title {
  display: flex;
  gap: 5px;
}

.title h2,
.title span {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Verdana;
  margin: 0;
  background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
  background-clip: text;
  color: transparent;
  text-shadow: 3px -3px 0 white;
}

/* .browse,
.login {
  background-color: transparent;
} */
