@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #000000b1;
  padding: 20px;
  z-index: 999;
  backdrop-filter: blur(5px);
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.nav-buttons-container {
  margin-right: 10px;
  display: flex;
  gap: 15px;
}

.nav-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  button {
    border: none;
    z-index: 5;
    position: relative;
    font-size: 1rem;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-family: "Poppins";
  }
}

.nav-button-wrapper::before,
.nav-button-wrapper::after {
  position: absolute;
  padding: 2px;
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #00ffff,
    #ff00ff,
    #ffff00,
    #00ffff
  );
  top: 50;
  right: 50;
  transform: translateX(50%), translateY(50%);
  z-index: 0;
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.nav-button-wrapper::after {
  opacity: 0;
  filter: blur(10px);
}

.nav-button-wrapper button:hover {
  background-color: #0000009c;
}

.nav-button-wrapper:hover::before,
.nav-button-wrapper:hover::after {
  opacity: 1;
  animation-play-state: running;
}

.title {
  display: flex;
  gap: 5px;
}

.title h2,
.title span {
  font-size: clamp(2rem, 2vw, 2.5rem);
  font-weight: 900;
  font-family: Verdana;
  margin: 0;
  background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
  background-clip: text;
  color: transparent;
  text-shadow: 3px -3px 0 white;
}

footer {
  background-color: #1f00375f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-top: 2px solid #2b004b;
  color: rgba(255, 255, 255, 0.7);
  flex-wrap: wrap;

  h2,
  span {
    width: fit-content;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.footer-info,
.social-media {
  flex: 1;
}

.footer-info div {
  display: flex;
  font-family: "Poppins";
  flex-direction: column;
}

.footer-info .title {
  flex-direction: row;
  margin-bottom: 30px;
}

.footer-info .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-info .address div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  h5,
  p {
    margin: 0;
  }

  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    font-family: "Verdana";
    font-size: 1.5rem;
    color: white;
  }
}

.social-media {
  display: flex;
  flex-direction: column;
}

.social-media {
  align-items: center;
}

.social-media div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer button {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  transition: 0.3s ease;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button:hover {
  background-color: var(--accent-color);
  transform: translateY(-10%);
  box-shadow: 0 5px 7px #4d0088a3;
}

footer button::before {
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
  position: absolute;
  content: attr(data-social);
  width: 250%;
  height: 100%;
  background-color: var(--accent-color);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-200%) rotate(20deg);
  border-radius: 25px;
  color: white;
  font-size: 1em;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

footer button::after {
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
  position: absolute;
  content: "";
  background-color: transparent;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  transform: translateY(-400%) translateX(-50%) rotate(20deg);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  opacity: 0;
}

footer button:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-170%) rotate(0);
}
footer button:hover::after {
  opacity: 1;
  transform: translateY(-300%) translateX(-50%) rotate(0);
}

.menu-checkbox,
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .title {
    justify-content: center;
  }
  .nav-buttons-container {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 20px 20px;
    gap: 20px;
    z-index: 998;
    box-sizing: border-box;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .menu-icon span {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }

  .menu-checkbox:checked ~ .nav-buttons-container {
    display: flex;
  }

  .nav-button-wrapper {
    width: 50%;
    justify-content: center;
  }

  button {
    width: 100%;
  }
}
