@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}

.hero-section {
  height: 60vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  h1 {
    font-family: "Verdana";
    color: white;
    text-shadow: -3px 3px 0 black;
  }

  span {
    filter: grayscale(0%);
    display: inline-block;
    background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
    background-clip: text;
    color: transparent;
    text-shadow: 3px -2px 0 white;
    transform: translateY(1px);
  }
}

.hero-section::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(85%);
  z-index: -1;
}
