@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}

.hero-section {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  h1 {
    width: 80%;
    text-align: center;
    font-size: 5rem;
    font-family: "Verdana";
    color: white;
    text-shadow: -5px 5px 0 black;
  }

  span {
    filter: grayscale(0%);
    display: inline-block;
    background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
    background-clip: text;
    color: transparent;
    text-shadow: 5px -5px 0 white;
    transform: translateY(4px);
  }

  p {
    font-size: 1.5rem;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.819);
  }

  button {
    background-color: #9000ff;
    color: white;
    border: none;
    font-family: "Poppins";
    font-size: 1rem;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.hero-section::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(85%);
  z-index: -1;
  opacity: 0.7;
}

.suggestion-section {
  margin-top: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestion-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: "Verdana";
  font-size: 1.5rem;

  h3,
  a {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    position: relative;
  }

  p {
    font-size: 1rem;
    font-family: "Poppins";
  }
}

.suggestion-header a::before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #00ffff, #ff00ff, #ffff00);
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.4s ease;
}

.suggestion-header a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

@keyframes move {
  0% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(4px);
  }
}
.arrow {
  display: inline-block;
  transition: 0.3s ease-in-out;
  animation: move 2s infinite;
}

.suggestion-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.card-wrapper {
  background-color: white;
  color: black;
  border-radius: 5px;
  height: 40vh;
  position: relative;
  transition: 0.3s ease-in-out;
}

.card-wrapper::before {
  transition: 0.2s ease;
  transform: scaleY(0);
  transform-origin: bottom;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
  background-image: linear-gradient(180deg, transparent 30%, black 100%);
}

.card-wrapper:hover {
  transform: scale(1.07);
  z-index: 2;
}

.card-wrapper:hover::before {
  transform: scaleY(1);
}

.card-container:has(.card-wrapper:hover) .card-wrapper:not(:hover) {
  filter: blur(1px);
  opacity: 0.7;
}

.card-wrapper:hover .card {
  transform: translateY(0);
  opacity: 1;
}

.card {
  height: 100%;
  padding: 10px;
  transform: translateY(10%);
  opacity: 0;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  font-family: "Poppins";
  text-transform: capitalize;
  position: relative;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  h4,
  p {
    margin: 0;
  }
  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
  }
}

.features-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h3 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Verdana";
  }
}

.features-wrapper {
  margin-top: 40px;
  width: 80%;
  gap: 20px;
  display: flex;
}

.features {
  background-color: #1f00375f;
  border: 2px solid #2b004b;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins";
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  div {
    padding: 10px;
  }

  h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}
