{% extends 'layout.html' %} {% block title %}MangaQuery{% endblock%} {% block
styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/browse.css') }}" />
{% endblock%} {% block main %}
<div class="browse">
  <div class="browse-header">
    <div class="browse-title">
      <h3>Discover Comics</h3>
      <p>
        Browse through {{ comic_list|length }} titles · Filter by genre, status,
        and more
      </p>
    </div>

    <div class="browse-filters">
      <form action="/browse" method="POST" id="filter-form">
        <div class="inputs">
          <input
            type="text"
            name="search-title"
            placeholder="Search by TItle"
          />
          <select class="filter-input" name="comic_status">
            <option value="">All Status</option>
            {% for status in comic_status %}
            <option value="{{status.status_name}}">
              {{status.status_name}}
            </option>
            {% endfor %}
          </select>
          <select class="filter-input" name="comic_type">
            <option value="">All Types</option>
            {% for type in comic_type %}
            <option value="{{type.type_name}}">{{type.type_name}}</option>
            {% endfor %}
          </select>

          <select class="filter-input" name="comic_order">
            <option value="highest-rating">Highest Rating</option>
            <option value="asc-title">Title</option>
            <option value="most-chapters">Most Chapters</option>
          </select>
        </div>

        <div class="button-group">
          {% for tag in comic_tags %}
          <div class="choices-button">
            <input
              type="checkbox"
              name="add-tag"
              id="tag-{{loop.index}}"
              value="{{tag.tags_name}}"
              class="hidden-checkbox"
            />
            <label for="tag-{{ loop.index }}" class="custom-button">
              {{tag.tags_name}}
            </label>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>

  <div class="browse-body" id="comic-container">
    {% include 'partials/comic-grid.html' %}
  </div>
</div>
{%endblock%} {% block script %}
<script src="{{ url_for('static', filename='script/browse.js') }}"></script>
{% endblock %}
