{% extends 'layout.html' %} {% block title %}MangaQuery{% endblock%} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/comic_details.css') }}"
/>
{% endblock%} {% block main %}
<div class="comic-details">
  <div class="header">
    <a href="/browse"><span>←</span> Back to browse</a>
  </div>

  <div class="comic-details-container">
    <div class="comic-photo">
      <img
        src="{{details[0].cover_image}}"
        alt="{{details.title}} photo cover"
      />
    </div>

    <div class="comic-info">
      <div class="comic-info-header">
        <div class="info-header-upper">
          <div class="type">{{details[0].type_name}}</div>
          <div class="status">{{details[0].status_name}}</div>
        </div>

        <div class="info-header-title">
          <h3>{{details[0].title}}</h3>
        </div>
      </div>

      <div class="comic-info-main">
        <div class="more-details">
          <p>Author: {{details[0].author_name}}</p>
          <p>Ratings: {{details[0].avg_rating}}</p>
          <p>Number of Chapters: {{details[0].num_of_chapters}}</p>
        </div>
        <p>{{details[0].comic_description}}</p>
        <div class="tags-wrapper">
          {%for tag in details%}
          <div class="tags">{{tag.tags_name}}</div>
          {%endfor%}
        </div>
      </div>

      <div class="reading-list-info">
        {% if details[0].reading_list_id %}
        <form
          class="ratings"
          method="POST"
          action="/add-rating/{{details[0].comic_id}}"
        >
          {% for i in range(5, 0, -1) %}
          <button
            type="submit"
            name="rating"
            value="{{ i }}"
            class="ratings-button {{ 'active' if details[0].user_rating >= i else '' }}"
          >
            ★
          </button>
          {% endfor %}
        </form>

        <div>
          <select
            name="change-status"
            onchange="updateStatus(this.value, '{{ details[0].comic_id }}')"
          >
            {% for s in status %} {% if s.reading_status_id
            ==details[0].reading_status_id%}
            <option value="{{s.reading_status_id}}" selected>
              {{s.reading_status_name}}
            </option>
            {% else %}
            <option value="{{s.reading_status_id}}">
              {{s.reading_status_name}}
            </option>
            {% endif %} {% endfor %}
          </select>

          <form
            action="/remove_reading_list/{{details[0].comic_id}}"
            method="POST"
          >
            <button class="remove" name="remove">Remove</button>
          </form>
        </div>

        <form action="/set-num-chapters/{{details[0].comic_id}}" method="POST">
          <select name="current-chapter" onchange="this.form.submit()">
            {% for n in range(1 , details[0].num_of_chapters + 1) %} {% if
            n==details[0].current_chapter %}

            <option value="{{n}}" selected>Chapter {{n}}</option>

            {% else %}

            <option value="{{n}}">Chapter {{n}}</option>

            {% endif %} {% endfor %}
          </select>
        </form>

        {% else %}
        <form action="/add_reading_list/{{details[0].comic_id}}" method="POST">
          <button
            type="submit"
            class="add-reading-list"
            name="add-reading-list"
          >
            + Add to Reading List
          </button>
        </form>

        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endblock%}{% block script %}
<script src="{{ url_for('static', filename='script/comic_details.js') }}"></script>
{% endblock %}
