{% extends 'layout.html' %} {% block title %}MangaQuery{% endblock%} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/comic_details.css') }}"
/>
{% endblock%} {% block main %}
<div class="comic-details">
  <div class="header">
    <a href="/browse"><span>←</span> Back to browse</a>
  </div>

  <div class="comic-details-container">
    <div class="comic-photo">
      <img src="{{details.cover_image}}" alt="{{details.title}} photo cover" />
    </div>

    <div class="comic-info">
      <div class="comic-info-header">
        <div class="info-header-upper">
          <div class="type">{{details[0].type_name}}</div>
          <div class="status">{{details[0].status_name}}</div>
        </div>

        <div class="info-header-title">
          <h3>{{details[0].title}}</h3>
        </div>
      </div>

      <div class="comic-info-main">
        <div class="more-details">
          <p>Author: {{details[0].name}}</p>
          <p>Ratings: {{details[0].ratings}}</p>
        </div>
        <p>{{details[0].description}}</p>
        <div class="tags-wrapper">
          {%for tag in details%}
          <div class="tags">{{tag.tags_name}}</div>
          {%endfor%}
        </div>
      </div>

      <div class="reading-list-info">
        {% if details[0].reading_list_id %}
        <div>
          <select
            name="change-status"
            onchange="updateStatus(this.value, '{{ details[0].comic_id }}')"
          >
            {% for s in status %}
            <option value="{{s.reading_status_id}}">
              {{s.reading_status_name}}
            </option>
            {% endfor %}
          </select>

          <form
            action="/remove_reading_list/{{details[0].comic_id}}"
            method="POST"
          >
            <button class="remove" name="remove">Remove</button>
          </form>
        </div>
        {% else %}
        <form action="/add_reading_list/{{details[0].comic_id}}" method="POST">
          <button
            type="submit"
            class="add-reading-list"
            name="add-reading-list"
          >
            + Add to Reading List
          </button>
        </form>

        {% endif %}
      </div>
    </div>
  </div>
</div>
{%endblock%}{% block script %}
<script src="{{ url_for('static', filename='script/comic_details.js') }}"></script>
{% endblock %}
