{% extends 'layout.html' %} {% block title %}MangaQuery{% endblock%} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/reading_list.css') }}"
/>
{% endblock%} {% block main %}
<div class="reading-list">
  <h3>Reading List</h3>
  <form class="filters-wrapper" action="/reading-list" method="POST">
    <button name="filter" class="filter" value="reading">
      Reading ({{total[0]['total']}})
    </button>
    <button class="filter" value="completed" name="filter">
      Completed ({{total[1]['total']}})
    </button>
    <button class="filter" value="plan_to_read" name="filter">
      Plan to Read ({{total[2]['total']}})
    </button>
  </form>
  <div class="comic-list">
    {% if reading_list %} {%for list in reading_list%}
    <div
      class="comic"
      onclick='window.location.href = "/comic_details/{{list.comic_id }}"'
    >
      <div class="cover-pic">
        <img src="{{list.cover_image}}" alt="{{list.title}} Cover Art" />
      </div>
      <div class="info">
        <h4>{{list.title}}</h4>
        <div>
          <p>★ {{list.avg_rating}}</p>
          <p>·</p>
          <p>{{list.type_name}}</p>
        </div>
        <div>
          <p>Ch. {{list.current_chapter}} / {{list.num_of_chapters}}</p>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h6>No Comics Found</h6>
    {% endif %}
  </div>
</div>
{%endblock%}
